<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <mat-toolbar-row>Menu</mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <!-- simple example with a single button routed to a card -->
      <a mat-list-item routerLink="/first-page">Card Example</a>

      <!-- nested menu example with a single button routed to a card -->
      <a mat-list-item [matMenuTriggerFor]="secondPage">Nested Menu</a>
      <mat-menu #secondPage="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="nestedItem1">Nested Topic 1</button>
        <button mat-menu-item [matMenuTriggerFor]="nestedItem2">Nested Topic 2</button>
      </mat-menu>
      <mat-menu #nestedItem1="matMenu">
        <button mat-menu-item routerLink="/second-page">Page 2 Topic</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <mat-menu #nestedItem2="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 3</button>
      </mat-menu>

      <!-- Third Example-->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Menu Topic 1
            </mat-expansion-panel-header>
            <button mat-menu-item routerLink="/third-page" >Page 3 Topic</button>
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item>Item 3</button>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Menu Topic 2
            </mat-expansion-panel-header>
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-expansion-panel>

        </mat-accordion>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
        </button>

  <!-- add the following anchor to quizki then remove from here or update for the playground-->
        <span>
          <a  aria-label="Quizki Home" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
            <span >
              <img class="header-icon" alt="quizki" src="./../assets/images/logo-light.png">
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""> </div>
          </a>
        </span>

        <span id="spanPageTitle" [innerHTML]="pageTitle"></span>

        <span class="header-fill-remaining-space"> </span>

        <span >
          <button mat-button aria-label="login">login</button>
          <span>|</span>
          <button mat-button aria-label="register">register</button>
        </span>
      </mat-toolbar-row>

    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
