<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img mat-card-avatar src="./../assets/images/logo-light.png" >
    </div>
    <mat-card-title>Denver Mock Programming Job Meetup</mat-card-title>
    <mat-card-subtitle> A Full Stack Open Source Project</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="./../assets/images/logo-light.png" alt="Quizki Logo">
  <mat-card-content>
    <p>
      A web application to help students of all stripes master their subject matter
      with questions and answers they create, which are then shared with and validated
      by other students who are studying the same topics. The interface (will) allow the
      creation of any question, including, but certainly not limited to, flashcards.
    </p>
    <br>
    <p>
    Join the fun! Search team-quizki on github for details.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
